/*------------------------------------------------------------------
MISC
*/

// Horizontal
.site-hr {
	text-align: center;
	margin: 1.25rem 0; //20px

	.site-hr__a,
	.site-hr__b,
	.site-hr__c {
		display: inline-block;
	}

	.site-hr__a,
	.site-hr__c {
		width: 400px;
		height: 1px;
		background-color: $white;
		position: relative;
		top: -6px;
	}

	.site-hr__b {
		border: 1px solid $white;
		border-radius: 50%;
		height: 22px;
		width: 22px;
		font-size: 11px;
		line-height: 22px;
		color: $secondary-color;
	}

	&.site-hr--b {

		.site-hr__a,
		.site-hr__c {
			background-color: #d8d8d8;
		}

		.site-hr__b {
			border-color: #d8d8d8;
		}
	}

	&.site-hr--c {

		.site-hr__b {
			color: $white;
		}
	}

	@media only screen and (max-width: 56.25rem) {

		padding: 0 15px;

		.site-hr__a,
		.site-hr__c {
			width: 45%;
		}

	}

	@media only screen and (max-width: 20.75rem) {
		
		.site-hr__a,
		.site-hr__c {
			width: 30%;
		}

	}
}

.big-intro.big-intro--a {
	background-color: $secondary-color;

	.big-intro__heading {
		color: $white;
		font-size: 2.5rem; //40px
	}

	.site-hr.site-hr--a {
		color: $white;
	}

	p {
		color: $white;
	}
}
